<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">Hola</mat-toolbar>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}! v5
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Nota
      </mat-panel-title>
      <mat-panel-description>
        Crear o Editar una nueva nota
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input  matInput placeholder="Titulo de la Nota" [(ngModel)]="nota.titulo">
    </mat-form-field>

     <mat-form-field>
      <mat-select placeholder="Categoria" [(ngModel)]="nota.categoria">
        <mat-option *ngFor="let cat of categorias" [value]="cat">
          {{ cat }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Cuerpo de la nota" [(ngModel)]="nota.cuerpo"></textarea>
    </mat-form-field>

    <button (click)="guardarNota()" mat-raised-button color="accent">Guardar Nota</button>

  </mat-expansion-panel>

    <mat-list>
      <mat-list-item *ngFor="let nota of notas" (click)="seleccionarNota(nota)">
        <h3 matLine> {{nota.titulo}}
          <div style="float: right; font-weight: normal; opacity:.5; margin-right: .35rem;" (click)="eliminarNota(nota)">❌</div>
        </h3>
        <p matLine>  {{nota.cuerpo}}  </p>
        <small matLine> {{nota.categoria}}
          <div style="font-size: .85rem; opacity: .5; font-style: italic; float: right;font-weight: normal;"> {{nota.id  | date}} </div>
        </small>
      </mat-list-item>
    </mat-list>

</mat-accordion>


<router-outlet></router-outlet>
